tbody:nth-child(odd){background-color: #f2f2f2;}
.expand{
    background-color: #1affff8a;
}
.expandButton {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    justify-content: center;
    line-height: 0.25;
    margin: 0;
    min-height: 0.2vh;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .expandButton:hover,
  .expandButton:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 4px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .expandButton:hover {
    transform: translateY(-1px);
  }
  
  .expandButton:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  } 
.expandButton{
  height: 4vh;
  width: 4vh;
}
  .expandCell{
      text-align: center;
  }
  

.card{
    display: flex;
}
.details{
    display: flex;
    flex-wrap: wrap;
}
.firstName{
    padding-top: 4vh;
    text-align: left;
    margin-left: 20vh;
}
.lastName{
    padding-top: 4vh;
    text-align: left;
    margin-left: 20vh;
    margin-right: 30vh;
}
.Tech{
    text-align: left;
    margin-left: 20vh;
}

.btn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  justify-content: center;
  line-height: 0.25;
  margin: 0;
  min-height: 0.2vh;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 4px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.btn{
    height: 6vh;
    width: 6vh;
    margin: 1vh;
}

.editBack{
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000069;
}

.edit{
  width: 50vh;
  position: absolute;
  margin: 1vh #afaeae;
  background-color: #FFFFFF;
  z-index: 10;
  padding: 6vh;
  padding-left: 10vh;
  padding-right: 10vh;
  transform: translate(+100%,+15%);
  text-align: center;
}
.edit .inputText{
  position: relative;
}
.edit .inputText input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #5a5959;
  outline: none;
  background: transparent;
}
.choose{
  text-align: left;
  font-size: 16px;
}
.choose input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
}

.choose label{
  font-size: 18px;
}

.addUp {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 1vh;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.addUp:hover,
.addUp:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.addUp:hover {
  transform: translateY(-1px);
}

.addUp:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.cancel {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 1vh;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.cancel:hover,
.cancel:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.cancel:hover {
  transform: translateY(-1px);
}

.cancel:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}